<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends "layout.html" %}
{% block content %}
    <br>
    <h2>Votre sélection : {{ produits[0].nom_marque }}</h2>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
                {% for prod in produits :%}
                    <div class="col">
                        <div class="card shadow-sm equal-height">
                            <img loading="lazy" src="{{ prod.image }}" alt="{{ prod.nom_produit}}"/>
                            <div class="card-body">
                                <p class="card-text">
                                    {{ prod.nom_produit }} <br>{{ prod.prix_produit }}
                                    <br>{{ prod.description }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ url_for('produit', id_produit=prod.id_produit) }}" class="btn btn-dark">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>